@media (min-width :1600px) {
    .container {
        max-width: 80%;
    }
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.Bio_Experience a {
	text-decoration: none;
}

.technologies > .badge {
	margin-right: 0.2rem;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 19%);
	text-shadow: 1px 1px #999999;
	color: #000;
}

/* Make whole accordion heading clickable */
.Bio_Projects .card > .card-header > .btn {
	width: 100%;
	text-align: left;
}

.card {
	margin-bottom: 0.2rem;
	background: transparent;
}

.list-group-item {
	background: transparent;
}

.btn-project-info {
	padding: 0.01rem 0.5rem;
}

.description {
	margin-left: 1rem;
}

.divInline {
	display: inline-block;
}

.moveRight {
	float: right;
}

.hr-small {
	margin: 0rem 0;
}

.textBold {
	font-weight: bold;
}

/* social icons */

.socialIcons {
	display: inline-block;
	padding-left: 6px;
}

.socialIcons > a {
	text-decoration: none;
}

.socialIcons > a > .icon {
	font-size: 1.5rem;
	color: lightslategrey;
}

.socialIcons > a > .icon:hover {
	color: deepskyblue;
}

/* Background */
#particle-canvas {
	z-index: -1;
}

/* Transparent */
.table > thead > tr > th {
	background: transparent;
}

.table > tbody > tr > td {
	background: transparent;
}
